.maindiv {
    height: 100vh;
    margin: 0;
}

.innerdiv {
    height: 90vh;
    background-color: grey;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    justify-content: space-around;
}

header {
    height: 10vh;
}

h1 {
    margin: 0;
    display: flex;
    justify-content: center;
}

svg {
    outline: 3px black solid;
}

body {
    margin: 0;
  }
  