.maindiv {
  background-color: #f4a5ae;
  height: 100vh;
  margin: 0;
}

.innerdiv {
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  justify-content: space-around;
}

.yellow {
  color: yellow;
}

.green {
  color: green;
}

header {
  background-color: #f4a5ae;
  height: 10vh;
  display: flex;
  align-items: center;
}

h3 {
  color: #f5d7e3;
}

svg {
  outline: 3px black solid;
}

body {
  margin: 0;
}
