.maindiv {
    background-color: #020b2b;
    height: 100vh;
    margin: 0;
}

.innerdiv {
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    justify-content: space-around;
}

header {
    background-color: #0d0340;
    height: 10vh;
}

h1 {
    margin: 0;
    display: flex;
    justify-content: center;
}

svg {
    outline: 3px black solid;
}

body {
    margin: 0;
  }
  